.faq-section {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 140px;
  }
}

.faq-container {
}

.faq-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    max-width: 846px;
    margin-left: auto;
    margin-right: auto;
  }
}

.faq-list-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.faq-toggle-symbol {
  border: 1px solid #03daf7;
  border-radius: 100%;
  min-width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.faq-icon {
  transform: rotate(180deg);
}

.faq-btn-text {
  background: #03daf7;
  padding: 12px 18px;
  font-family: 'Space Mono', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-align: left;

  @include media(desktop) {
    width: 100%;
  }
}

.faq-bottom-text {
  font-family: 'Space Mono', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    width: 100%;
    max-width: 792px;
    margin-left: auto;
  }
}

.is-visible {
  border: 1px solid #03daf7;
  padding: 12px 18px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
    max-height: 200px;
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}
