.header {
  background: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  &.scrolled {
    background: #2f2656;

    .nav-list-link {
      &:hover,
      &:active,
      &.active {
        color: #03daf7;
      }
    }
  }

  @include media(desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-container {
  padding: 0 42px;

  @include media(desktop) {
    padding: 0 80px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: auto;

  @include media(desktop) {
    display: block;
    padding: 8px 12px;
    backdrop-filter: blur(50px);
    background: rgba(255, 255, 255, 0.03);
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-list-link {
  font-family: 'Space Mono', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.privacy-body .nav-list-link {
}

.privacy-body .menu-icon {
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
}

.menu-icon-scrolled {
}
