<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">About the App</h2>
      <div class="about-content-wrapper">
        <picture>
          <source
            srcset="./img/about/about-bg-desk.png"
            media="(min-width: 1440px)"
            width="630"
            height="357"
          />
          <source
            srcset="./img/about/about-bg-mob.png"
            width="375"
            height="213"
          />
          <img
            class="about-bg-img"
            src="./img/about/about-bg-mob.png"
            alt="Screenshot of the game"
            width="375"
            height="213"
            loading="lazy"
          />
        </picture>
        <div class="about-text-wrapper">
          <p class="about-text">
            <span class="about-span"> Pixel Studio PRO</span> is a powerful
            pixel art editor for professionals and enthusiasts alike. Create
            animations, sprites, and illustrations right from your phone
            or tablet.<br />
            Perfect for game designers, digital artists, and NFT creators.
          </p>
        </div>
      </div>
      <img
        class="about-img-desk"
        src="./img/about/about-img-desk.png"
        alt="Pixel art"
        width="274"
        height="238"
        loading="lazy"
      />
    </div>
  </div>
</section>
