<section class="section faq-section" id="faq">
  <h2 class="section-title faq-title">FAQ</h2>
  <div class="container faq-container">
    <picture>
      <source
        srcset="./img/faq/faq-bg-desk.png"
        media="(min-width: 1440px)"
        width="630"
        height="684"
      />
      <source srcset="./img/faq/faq-bg-mob.png" width="375" height="407" />
      <img
        class="faq-bg-img"
        src="./img/faq/faq-bg-mob.png"
        alt="Screenshot of the game"
        width="375"
        height="407"
      />
    </picture>
    <div class="faq-content-wrapper">
      <ul class="faq-list">
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Is Art of Blast free to play?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-arrow-up"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes! The game is free with optional in-game purchases.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Can I play without an internet connection?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-arrow-up"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Definitely! Enjoy the artful journey offline anytime.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Are there special events?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-arrow-up"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes! Participate in seasonal events for extra rewards and new
            levels.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >What makes Art of Blast different from other puzzle games?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-arrow-up"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            It combines classic match gameplay with a creative story, lovable
            characters, and a relaxing artistic vibe.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Can I play with friends?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-arrow-up"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Absolutely! You can join a team, compete together, and share the fun
            of puzzle solving.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
