<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="42" height="42">
              <use href="./img/sprite.svg#icon-down-arrow"></use></svg
          ></span>
          <span class="faq-btn-text">Can I use it for game development?</span>
        </button>
        <p class="faq-bottom-text">
          Absolutely! It supports sprite sheets and game engine exports.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="42" height="42">
              <use href="./img/sprite.svg#icon-down-arrow"></use></svg
          ></span>
          <span class="faq-btn-text"
            >Does it support layers and animation?</span
          >
        </button>
        <p class="faq-bottom-text">
          Yes, with advanced control and onion skin support.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="42" height="42">
              <use href="./img/sprite.svg#icon-down-arrow"></use></svg
          ></span>
          <span class="faq-btn-text">Is this app beginner-friendly?</span>
        </button>
        <p class="faq-bottom-text">
          Yes! Clean UI makes it perfect for learning pixel art.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="42" height="42">
              <use href="./img/sprite.svg#icon-down-arrow"></use></svg
          ></span>
          <span class="faq-btn-text"
            >Can I use a stylus or drawing tablet?</span
          >
        </button>
        <p class="faq-bottom-text">
          It supports pressure-sensitive input on most devices.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="42" height="42">
              <use href="./img/sprite.svg#icon-down-arrow"></use></svg
          ></span>
          <span class="faq-btn-text">What formats can I export to?</span>
        </button>
        <p class="faq-bottom-text">
          PNG, GIF, Aseprite (.ase/.aseprite), PSD and more.
        </p>
      </li>
    </ul>
  </div>
</section>
