<section class="section reviews-section" id="reviews">
  <div class="reviews-section-wrapper">
    <div class="container reviews-container">
      <h2 class="section-title reviews-title">User Reviews</h2>
      <div class="reviews-swiper-container">
        <ul class="swiper-wrapper reviews-swiper-wrapper">
          <li class="swiper-slide reviews-slide">
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-ego.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">RetroEgo:</h3>
            </div>
            <p class="reviews-text">
              “Best mobile editor I’ve ever used. I recommend it to everyone.”
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-knight.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">SpriteKnight:</h3>
            </div>
            <p class="reviews-text">
              “Animation tools are top-tier. Replaced my desktop workflow.”
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-tiler.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">CodeyTiler:</h3>
            </div>
            <p class="reviews-text">
              “Perfect for indie devs and pixel lovers. The best game ever”
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-hex.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">PixieHex:</h3>
            </div>
            <p class="reviews-text">
              “Even on a phone, it feels intuitive and powerful.”
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-gazer.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">GameGazer:</h3>
            </div>
            <p class="reviews-text">
              “Exported frames straight into Unity. Seamless!”
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-art.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">motionArt</h3>
            </div>
            <p class="reviews-text">
              “I made my first full sprite sheet on a train ride.”
            </p>
          </li>
        </ul>
      </div>
      <div class="controls">
        <button
          class="arrow-btn"
          id="reviewsLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button
          class="arrow-btn"
          id="reviewsRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
